<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cadena" connectionString="Data Source=PC-SYSTEM\SQLEXPRESS;Initial Catalog=DbEvaluacion;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>